.graphPageTitle {
    font-size: 22px;
    padding-bottom: 10px;
}

.green {
    color: green;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}

.yellow {
    color: #ffbc00;
    font-weight: bold;
}

.purple {
    color: #ff6168;
    font-weight: bold;
}

.countryColor {
    color: #ff6168;
    font-weight: bold;
}